@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
  color: #F3F4F6;
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FACC15;
}